sudo: false
cache:
  directories:
  - eggs
  - downloads
language: python
# Note: Python < 2.7 / Plone < 5.2 is not supported.
python:
  - 2.7
  - 3.7
  - 3.8
env:
  - BUILDOUT_CONFIG=plone52.cfg
matrix:
  exclude:
    - python: 2.7
      env: BUILDOUT_CONFIG=plone52.cfg
    - python: 3.7
      env: BUILDOUT_CONFIG=plone52.cfg
    - python: 3.8
      env: BUILDOUT_CONFIG=plone52.cfg
install:
  - mkdir -p eggs
  - mkdir -p downloads
  - pip install -r requirements.txt
  - bin/buildout -N -t 3 -c $BUILDOUT_CONFIG
script: bin/test
